.Hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 64px;
    height: fit-content;
    margin-top: 128px;
    margin-bottom: 128px;
}

.HeroImagery {
    min-width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.HeroImagery img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 0.65;
    border-radius: 32px;
}

.HeroTextual {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    gap: 32px;
}

.HeroTextual h1 {
    font-weight: 900;
    font-size: 32px;
}

.HeroTextual h2 {
    font-weight: 600;
    font-style: italic;
}

.HeroButton {
    background-color: black;
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 8px;
    border-radius: 12px;
}

@media (min-width: 0px) and (max-width: 768px) {
    .Hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
        margin-bottom: 32px;
        gap: 32px;
    }
    .HeroImagery {
        width: 100%;
    }
}
