.Hero {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 64px;
    height: 600px;
}

.HeroImagery {
    width: auto;
    height: auto;
    max-height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    overflow: hidden;
    border-radius: 32px;
}

.HeroImagery img {
    /* width: 100%; */
    height: auto;
    object-fit: cover;
}

.HeroTextuals {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.HeroTextuals h1 {
    font-weight: 900;
    font-size: 24px;
}

.HeroTextuals h2 {
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
}

.HeroButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

@media (min-width: 0px) and (max-width: 768px) {
    .Hero {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .HeroImagery {
        width: 100%;
        height: auto;
    }
}
