.Hero {
    width: 100%;
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 1fr;
    gap: 32px;
    height: calc(100vh - 75px);
}

.HeroImagery {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
}

.HeroImagery img {
    width: 100%;
    height: auto;
}

.HeroTextuals {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.HeroTextuals h1 {
    font-weight: 900;
    font-size: 24px;
}

.HeroTextuals h2 {
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
}

@media (min-width: 0px) and (max-width: 768px) {
    .Hero {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: auto;
        padding-top: 16px;
    }
}
