.LoginSection {
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.LoginSection h1 {
    font-weight: 900;
    font-size: 24px;
}

.LoginTextual {
    width: 225px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

@media (min-width: 0px) and (max-width: 768px) {
    .LoginSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
